[Unit]
Description=Universal Fancontrol Daemon For Arch Linux
After=network.target

[Service]
Type=simple
ExecStart=/bin/unifand
Restart=always
RestartSec=3
User=root

# Optional hardening
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=true

[Install]
WantedBy=multi-user.target